@font-face {
  font-family: Minecraft;
  src: url("C:\my_stuff\WebDevelopment\NoteBlockStudioWeb\css\fonts\MinecraftBold-nMK1.ttf");
}

#greeting {
  background-color: #70b237;
  font-family: Minecraft;
  text-align: center;
}

.description-left {
  background-color: #477a1e;
}

.description-right {
  background-color: #8fca5c;
}

.note-block {
  width: 100px;
  height: 100px;
}
.benefit-p {
  color: #61371f;
}
