/*? all avilable fonts  */
/* 
font-family: 'Baloo Chettan 2', cursive;
font-family: 'Londrina Solid', cursive;
font-family: 'Pangolin', cursive;
font-family: 'Patrick Hand', cursive;
font-family: 'Quicksand', sans-serif;
font-family: 'Roboto', sans-serif; */

@font-face {
  font-family: Minecraft;
  src: url("fonts/MinecraftRegular-Bmg3.otf");
}

body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

#greeting {
  background-color: #70b237;
  font-family: Minecraft;
  text-align: center;
}

#collage {
  background-color: #70b237;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.note-block {
  position: absolute;
  width: 130px;
  height: 130px;
}

.benefit-p {
  color: #d4d4d4;
  position: absolute;
  visibility: hidden;
  margin: 0;
  font-family: "Patrick Hand";
  font-size: 2rem;
}
