/*? all avilable fonts  */
/* 
font-family: 'Baloo Chettan 2', cursive;
font-family: 'Londrina Solid', cursive;
font-family: 'Pangolin', cursive;
font-family: 'Patrick Hand', cursive;
font-family: 'Quicksand', sans-serif;
font-family: 'Roboto', sans-serif; */

@font-face {
  font-family: Minecraft;
  src: url("fonts/MinecraftRegular-Bmg3.otf");
}

body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  font-weight: 900;
}

p {
  margin: 0;
}

.align-right {
  text-align: right;
}

#greeting {
  background-color: #70b237;
  text-align: center;
}

.greeting-h {
  font-family: Minecraft;
}

#collage {
  background-color: #70b237;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.note-block {
  position: absolute;
  width: 130px;
  height: 130px;
}

.phrase-p {
  color: #d4d4d4;
  position: absolute;
  visibility: hidden;
  font-family: "Patrick Hand";
  font-size: 2rem;
}

#features {
  background-color: #168700;
  border-width: 3px 0;
  border-style: solid;
  border-color: rgb(34, 33, 33);
}

.feature-container1 {
  display: inline-flex;
  flex-direction: row;
  margin: 3rem 0;
  align-items: center;
  background-color: #19b799;
}

.feature-container2 {
  display: inline-flex;
  flex-direction: row-reverse;
  margin: 3rem 0;
  align-items: center;
  background-color: #2fd0a7;
}

.feature-h {
  margin: 0 30px;
  text-align: center;
}

.feature-p {
  font-size: 1.3rem;
  width: 500px;
}

@media (min-width: 1285px) {
  .flex-space-between {
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 670px) {
  .feature-container1 {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .feature-container2 {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .feature-p {
    width: auto;
  }
}
